body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background: url('/light/hero.png') no-repeat center center/cover;
}

.hero {
    background: url('/hero.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 3.5rem;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}

.form-box {
    display: none;
}

.form-box.active {
    display: block;
}

.form-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: #555;
}

.form-box input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-box button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-box button:hover {
    background-color: #0056b3;
}

.toggle-form {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.toggle-form a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.toggle-form a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
}

.phonenum {
    
}